[Unit]
Description=Daemon systemd for crontab nextcloud for podman/docker

[Service]
Type=oneshot
ExecStart=podman exec -u www-data nextcloud php -f /var/www/html/cron.php

[Install]
WantedBy=default.target